.profile {
	width: 40%;
}

.thumb_pic {
	width: 80%;	
}

.padding-10{
	padding: 10px;
}

html {
	font-size: 1rem;
  }
  
@include media-breakpoint-up(sm) {
html {
	font-size: 1.2rem;
}
}

@include media-breakpoint-up(md) {
html {
	font-size: 1.4rem;
}
}

@include media-breakpoint-up(lg) {
html {
	font-size: 1.6rem;
}
}